table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #000000;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Styles pour le header */
  
  header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    border-bottom: 2px solid #fff;
  }